*
    margin: 0px
    padding: 0px
    
.topnav
    height:60px
    background-color: #a9fda9
    width: 100%
    margin: 0px
    .nav
        color: white
        display: flex
        flex-direction: row
        gap: 40px
        .buttons
            background-color: white
            color: white


footer 
  position: absolute
  bottom: 0
  width: 100%
  height: 60px
  background-color: #333
  color: #fff
  padding: 0px
  margin: 0px